<div class="grid">
    <mat-card class="col
    ">
        <mat-card-header class="flex flex-column-reverse">
            <mat-icon color="primary" class="align-self-center">key</mat-icon>
            <mat-card-title>
                <p class="text-center">Alumnos inscriptos</p>
            </mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <p class="text-center text-lg font-medium">475</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="col">
        <mat-card-header class="flex flex-column-reverse">
            <mat-icon color="primary"class="align-self-center">check_circle</mat-icon>
            <mat-card-title>
                <p class="text-center">Alumnos aprobados</p>
            </mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <p class="text-center text-lg font-medium">400</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="col">
        <mat-card-header class="flex flex-column-reverse">
            <mat-icon color="primary" class="align-self-center">cancel</mat-icon>
            <mat-card-title>
                <p class="text-center">Alumnos libres</p>
            </mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <p class="text-center text-lg font-medium">75</p>
        </mat-card-content>
    </mat-card>
</div>